/* Footer.css */

.footer {
  color: black;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}

.footer .logo {
  width: 150px;
  font-size: 15px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-content-right li {
  text-transform: lowercase;
}

.footer-content-right h2,
.footer-content-center h2 {
  color: black;
}

.footer-social-icons img {
  width: 40px;

  margin-right: 15px;
  cursor: pointer;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}

.footer-copyright {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    align-items: center;
  }

  .footer-content-left p,
  .footer-content-center ul,
  .footer-content-right ul {
    text-align: center;
  }

  .footer-social-icons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer .logo {
    width: 100px;
  }

  .footer-social-icons img {
    width: 30px;
    margin-right: 10px;
  }

  .footer-content {
    gap: 20px;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    gap: 10px;
  }

  .footer hr {
    margin: 15px 0;
  }
}
